@model BeestjeOpJeFeestje.Models.CustomerCard

@{
    ViewData["Title"] = "Create";
}

<h2>Maak een nieuwe klantenkaart</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" id="BugCreate">
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" type="text" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <iconify-icon icon="ph:floppy-disk"></iconify-icon> Opslaan
                </button>
                <a asp-action="Index" class="btn btn-secondary">Annuleren</a>
            </div>
        </form>
    </div>
</div>
