@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij Beestje op je Feestje!</h1>
    <p>Plan het leukste feestje met onze unieke dierenervaringen.</p>

    <div class="mt-4">
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg m-2">Inloggen</a>
    </div>

    <p class="mt-5">
        Meer leren over <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core Web Apps</a>.
    </p>
</div>
